@model WebBlog.ViewModels.SettingVM
@{
    ViewData["Title"] = "Setting";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <a asp-action="Create" asp-controller="Post" asp-area="Admin" class="btn btn-"></a>
    <div class="card">
        <div class="card-header bg-primary">
            <h4 class="card-title text-white">Thêm cài đặt</h4>
        </div>
        <div class="card-body">
            <form method="post" asp-area="Admin" asp-controller="Setting" asp-action="Index" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-9">
                        <div class="mb-2">
                            <label>Tên Website</label>
                            <input asp-for="SiteName" type="text" class="form-control">
                            <span asp-validation-for="SiteName" class="text-danger"></span>
                        </div>
                        <div class="mb-2">
                            <label>Tiêu đề</label>
                            <input asp-for="Title" type="text" class="form-control">
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="mb-2">
                            <label>Ghi chú</label>
                            <input asp-for="ShortDescription" type="text" class="form-control">
                            <span asp-validation-for="ShortDescription" class="text-danger"></span>
                        </div>
                        <div class="mb-2">
                            <label>Facebook Url</label>
                            <input asp-for="FacebookUrl" type="text" class="form-control">
                            <span asp-validation-for="FacebookUrl" class="text-danger"></span>
                        </div>
                        <div class="mb-2">
                            <label>Instagram Url</label>
                            <input asp-for="InstagramUrl" type="text" class="form-control">
                            <span asp-validation-for="InstagramUrl" class="text-danger"></span>
                        </div>
                        <div class="mb-2">
                            <label>Github Url</label>
                            <input asp-for="GithubUrl" type="text" class="form-control">
                            <span asp-validation-for="GithubUrl" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="mb-2">
                            @{
                                if(Model.ImageUrl == null)
                                {
                                    <img src="~/image/default_image.png" id="changeImage" class="img-fluid" />
                                }
                                else
                                {
                                    <img src="~/image/@Model.ImageUrl" id="changeImage" class="img-fluid" />
                                }
                            }
                            
                        </div>
                        <div class="mb-2">
                            <label>Ảnh</label>
                            <input asp-for="Image" type="file" class="custom-file" id="custom-file">
                            <span asp-validation-for="Image" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="mb-2">
                    <button type="submit" class="btn btn-primary w-100">Lưu bài viết</button>
                </div>

            </form>
            <hr>
            <div class="text-center">
                <a class="small" href="Login.html">Quay lại</a>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(".custom-file").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            document.getElementById('changeImage').src = window.URL.createObjectURL(this.files[0])
        });
    </script>
}