@{
    ViewData["Title"] = "Lỗi quyền truy cập";
}

    <div class="container-fluid">
        <!-- 404 Error Text -->
        <div class="text-center">
            <div class="error mx-auto" data-text="401">401</div>
            <h3 class="lead text-gray-800 mb-5">Bạn không có quyền</h3>
            <a asp-action="Index" asp-controller="Post" asp-area="Admin">&larr; Quay lại</a>
        </div>

    </div>