@model WebBlog.ViewModels.ResetPasswordVM
@{
    ViewData["Title"] = "Đổi mật khẩu";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <a class="btn btn-primary mb-1" asp-action="Register" asp-controller="User">Tạo User</a>
    <div class="card">
        <div class="card-header bg-primary">
            <h4 class="card-title text-white">Đổi mật khẩu</h4>
        </div>
        <div class="card-body">
            <input type="hidden" asp-for="Id" />
            <form method="post" asp-area="Admin" asp-controller="User" asp-action="ResetPassword">
                <div class="form-group">
                    <label>UserName</label>
                    <input asp-for="UserName" type="text" class="form-control form-control-user"
                           id="exampleInputEmail" aria-describedby="emailHelp" disabled>
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>NewPassword</label>
                    <input asp-for="NewPassword" type="password" class="form-control form-control-user"
                            id="exampleInputEmail" aria-describedby="emailHelp">
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>ConfirmPassword</label>
                    <input asp-for="ConfirmPassword" type="password" class="form-control form-control-user"
                            id="exampleInputEmail" aria-describedby="emailHelp">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <input type="submit" class="btn btn-primary btn-user btn-block" value="Đổi mật khẩu">
            </form>
        </div>
    </div>
</div>


